body{
    background-color: #e6f3ff;
    padding: 12%;


}

.tagline{
    color:blueviolet;
    font-style: italic;
}
img{
    float:right;
}
table{
    border:1px;
    border-style: solid;
    border-color:black;
    width:100%;
}
td,th{
    text-align: left;
    padding: 16px;
}
.pricetopic{
    font-size:25px;
    font-weight: bold;
    padding-top:20%;
}
footer{
    background-color: orange;
    font-size: 10px;
    font-family:'Times New Roman';
    padding: 3px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width:100%;
    left: 0;
}